@horizontal-padding: 1.6rem;

.navbar {
  &__route {
    display: flex;
    align-items: center;
    font-weight: 300;
    padding: .8rem @horizontal-padding;

    &>:first-child {
      margin-right: auto;
    }

    &:hover {
      background: var(--theme-background-color-shade-5);
    }

    &--current {
      background: var(--theme-background-color-shade-4);
    }

    &--sub {
      padding-left: calc(1rem + var(--level-padding) * @horizontal-padding) !important;
    }
  }
}
